html,body{
    font-family: 'Darker Grotesque', sans-serif;
    background-color:#d1ccff;
    color:#06003b;
    max-width:max-content;
    display:flex;
  }
  
  #navbar {
    width:30%;
    margin:5%;
    border-right: solid;
    border-color: #06003b;
    }
  header{
    font-family:syne;
    font-size:25px;
  }
  
  
  #main-doc{
    width:70%;
    margin:1% 1% 1% 1%;
  }
  